[package]
name = "sqruff"
description = "A high-speed SQL linter."
version.workspace = true
repository.workspace = true
edition.workspace = true
license.workspace = true
default-run = "sqruff"

[[bin]]
name = "bench"
path = "src/bin/bench.rs"
bench = false

[[test]]
name = "ui"
harness = false

[features]
codegen-docs = ["clap-markdown", "minijinja", "serde"]

[dependencies]
sqruff-lib = { version = "0.16.0", path = "../lib" }
lsp = { version = "0.16.0", package = "sqruff-lsp", path = "../lsp" }
clap = { version = "4", features = ["derive"] }
console = "0.15.8"

[target.'cfg(target_os = "windows")'.dependencies]
mimalloc = "0.1"

[target.'cfg(all(not(target_os = "windows"), not(target_os = "openbsd"), any(target_arch = "x86_64", target_arch = "aarch64", target_arch = "powerpc64")))'.dependencies]
jemallocator = { version = "0.6.0", package = "tikv-jemallocator" }

# Codegen dependencies
clap-markdown = { version = "0.1.4", optional = true }
minijinja = { version = "2.1.2", optional = true }
serde = { version = "1.0.204", features = ["derive"], optional = true }

[dev-dependencies]
ui_test = "0.23"
