# on:
#   pull_request:
# name: codegen-docs
# env:
#   PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: true
# jobs:
#   codegen-docs:
#     name: codegen-docs
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
#       - uses: Swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3 # ratchet:Swatinem/rust-cache@v2
#       - uses: dtolnay/rust-toolchain@38b70195107dddab2c7bbd522bcf763bac00963b # ratchet:dtolnay/rust-toolchain@stable
#       - run: env GITHUB_ACTIONS=false cargo r -F codegen-docs
#       - uses: stefanzweifel/git-auto-commit-action@e348103e9026cc0eee72ae06630dbe30c8bf7a79 # ratchet:stefanzweifel/git-auto-commit-action@v5
#         with:
#           push_options: "--force"
#   codegen-check:
#     name: codegen-check
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
#       - uses: Swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3 # ratchet:Swatinem/rust-cache@v2
#       - uses: dtolnay/rust-toolchain@38b70195107dddab2c7bbd522bcf763bac00963b # ratchet:dtolnay/rust-toolchain@stable
#       - run: env GITHUB_ACTIONS=false cargo r --bin sqruff -F codegen-docs
#       - run: git diff --quiet || exit 1
