on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
env:
  PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: true
jobs:
  convert-release-as-draft:
    name: Convert release to draft
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v5
      - run: chmod +x .hacking/scripts/convert_release_to_draft.sh
      - run: .hacking/scripts/convert_release_to_draft.sh
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  check-versions-match:
    name: Check versions match
    runs-on: ubuntu-latest
    needs:
      - convert-release-as-draft
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v5
      - name: Install jq
        run: sudo apt-get install jq
      - name: Allow running check_versions_match.sh
        run: chmod +x ./.hacking/scripts/check_versions_match.sh
      - name: Check release version matches code
        run: |
          RELEASE_VERSION=${{ github.event.release.tag_name }}
          STRIPPED_VERSION=${RELEASE_VERSION#v}
          ./.hacking/scripts/check_versions_match.sh $STRIPPED_VERSION
  release-vsix:
    name: Release VSIX
    runs-on: ubuntu-latest
    needs:
      - check-versions-match
    permissions:
      id-token: write
      contents: write
      attestations: write
      packages: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v5
      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@e403ad507104847c3539436f64571dd9faf55f06 # ratchet:bazel-contrib/setup-bazel@v1
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true
      - name: Build VS Code extension
        run: bazel build //editors/code:vscode_extension
      - name: Copy VSIX to expected location
        run: cp bazel-bin/editors/code/*.vsix editors/code/
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # ratchet:actions/attest-build-provenance@v3
        with:
          subject-path: "editors/code/*.vsix"
      - name: Publish GitHub release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # ratchet:ncipollo/release-action@v1
        with:
          allowUpdates: true
          draft: true
          omitBody: true
          omitBodyDuringUpdate: true
          omitNameDuringUpdate: true
          omitDraftDuringUpdate: true
          artifacts: |
            editors/code/*.vsix
  release:
    name: Release ${{ matrix.platform.target }}
    runs-on: ${{ matrix.platform.os }}
    needs:
      - check-versions-match
    permissions:
      id-token: write
      contents: write
      attestations: write
      packages: write
    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: sqruff-linux-x86_64-musl.tar.gz
            os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            bin: sqruff
          - name: sqruff-linux-aarch64-musl.tar.gz
            os: ubuntu-latest
            target: aarch64-unknown-linux-musl
            bin: sqruff
          - name: sqruff-windows-x86_64.zip
            os: windows-latest
            target: x86_64-pc-windows-msvc
            bin: sqruff.exe
          - name: sqruff-darwin-x86_64.tar.gz
            os: macos-15-intel
            target: x86_64-apple-darwin
            bin: sqruff
          - name: sqruff-darwin-aarch64.tar.gz
            os: macOS-latest
            target: aarch64-apple-darwin
            bin: sqruff
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v5
      - uses: ./.github/actions/build-binaries
        with:
          package: true
          publish: true
      - name: Publish GitHub release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # ratchet:ncipollo/release-action@v1
        with:
          allowUpdates: true
          draft: true
          omitBody: true
          omitBodyDuringUpdate: true
          omitNameDuringUpdate: true
          omitDraftDuringUpdate: true
          artifacts: |
            sqruff-*
  build-and-push-docker:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    needs:
      - check-versions-match
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v5
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # ratchet:docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # ratchet:docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # ratchet:docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push Docker Image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # ratchet:docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/sqruff:${{ github.ref_name }}
            ghcr.io/${{ github.repository_owner }}/sqruff:latest
          platforms: linux/amd64,linux/arm64
  convert_release_to_not_draft:
    name: Convert release to not draft
    runs-on: ubuntu-latest
    permissions: write-all
    needs:
      - release
      - release-vsix
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v5
      - run: chmod +x ./.hacking/scripts/convert_release_to_not_draft.sh
      - run: ./.hacking/scripts/convert_release_to_not_draft.sh
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  publish-to-cargo:
    name: Publish to Cargo
    runs-on: ubuntu-latest
    needs: [convert_release_to_not_draft]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v5
      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # ratchet:actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
      - name: Publish sqruff-lib-core to Cargo
        uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # ratchet:actions-rs/cargo@v1
        with:
          command: publish
          args: --token ${{ secrets.CARGO_API_TOKEN }} -p sqruff-lib-core
      - name: Publish sqruff-lib-dialects to Cargo
        uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # ratchet:actions-rs/cargo@v1
        with:
          command: publish
          args: --token ${{ secrets.CARGO_API_TOKEN }} -p sqruff-lib-dialects
      - name: Publish sqruff-lib to Cargo
        uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # ratchet:actions-rs/cargo@v1
        with:
          command: publish
          args: --token ${{ secrets.CARGO_API_TOKEN }} -p sqruff-lib
      - name: Publish sqruff-lsp to Cargo
        uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # ratchet:actions-rs/cargo@v1
        with:
          command: publish
          args: --token ${{ secrets.CARGO_API_TOKEN }} -p sqruff-lsp
      - name: Publish sqruff-cli-lib to Cargo
        uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # ratchet:actions-rs/cargo@v1
        with:
          command: publish
          args: --token ${{ secrets.CARGO_API_TOKEN }} -p sqruff-cli-lib
      - name: Publish sqruff to Cargo
        uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # ratchet:actions-rs/cargo@v1
        with:
          command: publish
          args: --token ${{ secrets.CARGO_API_TOKEN }} -p sqruff
      - name: Publish sqruff-sqlinference to Cargo
        uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # ratchet:actions-rs/cargo@v1
        with:
          command: publish
          args: --token ${{ secrets.CARGO_API_TOKEN }} -p sqruff-sqlinference
  publish-to-marketplace:
    name: Publish VSIX to VSCode Marketplace
    runs-on: ubuntu-latest
    needs:
      - release-vsix
      - convert_release_to_not_draft
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v5
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # ratchet:actions/setup-node@v5
        with:
          node-version-file: ".nvmrc"
      - run: npm install -g vsce
      - run: chmod +x .hacking/scripts/download_extension.sh
      - run: ./.hacking/scripts/download_extension.sh
      - run: vsce publish --packagePath extension.vsix
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }} # Set up the VSCE Personal Access Token in GitHub secrets
  publish-to-openvsx:
    name: Publish VSIX to Open VSX
    runs-on: ubuntu-latest
    needs:
      - release-vsix
      - convert_release_to_not_draft
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v5
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # ratchet:actions/setup-node@v5
        with:
          node-version-file: ".nvmrc"
      - run: npm install -g ovsx
      - run: chmod +x .hacking/scripts/download_extension.sh
      - run: ./.hacking/scripts/download_extension.sh
      - run: ovsx publish -p ${{ secrets.OPEN_VSX_TOKEN }} extension.vsix
